#employee-div {
  text-align: center;
  color: white;
}

.path-home {
  text-align: center;
  font-family: "Dancing Script", cursive;
  color: white;
}

.path {
  text-decoration: none;
  color: white;
  font-size: 25px;
}
