#employee-div {
  text-align: center;
}

.path-home {
  text-align: center;
  font-family: "Dancing Script", cursive;
}

.path {
  text-decoration: none;
  color: rgb(89, 69, 107);
  font-size: 20px;
}
