#employee-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 25px;
 
}

.path {  
  font-family: "Dancing Script", cursive;
  
  color:black;
  font-size: 25px;
 
  
}

#employee-div h3 {
  font-size: 25px;
  margin-top: 0px;
}


