 @import url('https://fonts.googleapis.com/css2?family=Caramel&display=swap'); 
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

.header-employee {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.path-employee {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.path-employee:hover {
  background-color: transparent;
}

.title {
  font-family: 'Caramel', cursive;
  font-size: 40px;
    margin-top: -50px;
}
.container,
h2 {
  margin-top: 45px;
  font-size: 20px;
  font-family: "Dancing Script", cursive;
}
