@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap");

body {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  background-image: url("https://media-exp1.licdn.com/dms/image/C4D1BAQEhy0v2JrxuFw/company-background_10000/0/1547846623977?e=2159024400&v=beta&t=93lv5Pt5D6E1mzE12kEogUYbC_RkHy1AdvMUitz6aps");
}

.form-employee {
  display: flex;
  justify-content: center;
}

section h2 {
  text-align: center;
  font-size: 25px;
}

form {
  background-color: #f5f2f2f2;
  margin-bottom: 50px;
  padding: 50px;
  border-radius: 10px;
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.select-left {
  margin-right: 50px;
}

input {
  cursor: pointer;
  border-radius: 5px;
  padding: 7px;
  margin-top: 8px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border: solid 1px rgb(128, 129, 129);
}

input:hover {
  background-color: rgb(134, 150, 156);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.save-modal {
  margin: auto;
  background: rgb(134, 150, 156);
  padding: 10px 25px;
  border: white;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  font-size: 15px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  cursor: pointer;
}

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  color: #000;
  cursor: pointer;
  border: none;
  background: transparent;
  position: relative;
  left: 95%;
}

.errors {
  font-size: 12px;
  color: rgb(131, 52, 52);
}
